.box {
    display: flex;
    flex-direction: column;
}

.htmlbox {
    background-image: url(../../src/media/htmlbackground.jpg);
    background-size: 100vw;
}

.html {
    max-height: 150px;
    width: auto;
    margin: 20px;
}