.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    color: white;
    margin-top: 100px;
}

.box {
    max-width: 60vw;
    min-width: 30vw;
    min-height: 10px;
    padding: 10px;
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    max-height: 300px;
    width: auto;
    padding: 10px;
}

@media (max-width: 700px) {
    .flex {
        flex-direction: column;
}}